<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
		   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
           
	<context:component-scan base-package="com.myselft.bserver.service" />


	<!-- ########### 本工程的配置文件 ########## -->
	<import resource="classpath:spring/base/spring-resources.xml" />
	<import resource="classpath:spring/base/spring-datasource.xml" />
	<import resource="classpath:spring/base/spring-mvc-servlet.xml" />
	<import resource="classpath:spring/dubbo/spring-dubbo-consumer.xml" />
	<import resource="classpath:spring/dubbo/spring-dubbo-service.xml" />


</beans>