<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
		   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
           
	<!--<context:component-scan base-package="com.etrip.dao" />-->
	<context:component-scan base-package="com.myself.service" />


	<!-- ########### 本工程的配置文件 ########## -->
	<import resource="classpath:spring/base/spring-resources.xml" />
	<import resource="classpath:spring/base/spring-datasource.xml" />
	<import resource="classpath:spring/hessian/spring-hessian-consumer.xml" />
	<import resource="classpath:spring/hessian/spring-hessian-provider.xml" />
	<import resource="classpath:spring/base/spring-mvc-servlet.xml" />
	<import resource="classpath:spring/base/spring-mongodb.xml" />
	<import resource="classpath:spring/quartz/spring-quartz.xml" />

	<!-- 自定义切面通知类 -->
	<bean id="timeCostLogActive" class="com.myself.aop.TimeCostLogActive"/>

	<aop:config proxy-target-class="true">
		<!-- 切面（切点和通知的集合） -->
		<aop:aspect id="timeCostLogAspect" ref="timeCostLogActive">
			<!-- 切点 -->
			<aop:pointcut id="servicePointCut" expression="execution(* com.myself.service.impl.*.*(..))"/>

			<!-- 通知（一共5种：before、after、after-returning、after-throwing、around） -->
			<aop:before method="before" pointcut-ref="servicePointCut"/>
			<aop:after method="after" pointcut-ref="servicePointCut"/>
			<aop:after-returning method="afterReturning" pointcut-ref="servicePointCut"/>
			<aop:around method="around" pointcut-ref="servicePointCut"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="servicePointCut"/>
		</aop:aspect>
    </aop:config>
</beans>